@import url(./style.css);

div.progress {
    width: 50%;
    text-align: center;
}

div.progress p {
    transition: all 0.5s ease;
    margin-bottom: 25px;
}

div.progress-container {
    width: 100%;
    background-color: var(--main-bg);
    border: 1px solid black;
}

div.progress-bar {
    transition: all 1s ease;
    width: 0%;
    height: 20px;
    background-color: var(--progress);
}
